<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Edycja danych</title>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style>
		.error {color:red}
	</style>
</head>

<body>

<div id="container" style="margin-top:50px;">

	<div id="panel" style="padding-top:10px;"
		 class="mainbox col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-4">

		<div class="panel panel-default">

			<div class="panel-heading">
				<div class="panel-title">Edycja danych</div>
			</div>

			<div class="panel-body" style="padding-top:20px;" >

				<form th:action="@{/register/savePassword(userId=${userId})}"
					  th:object="${systemUser}" method="POST"
					  class="form-horizontal">

					<div class="form-group">
						<div class="col-xs-15">
							<div>
								<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
									<span th:text="${registrationError}"></span>
								</div>
							</div>
						</div>
					</div>

					<input type="hidden" th:field="*{firstName}" />

					<input type="hidden" th:field="*{lastName}" />

					<input type="hidden" th:field="*{email}" />

					<input type="hidden" th:field="*{roles}" />

					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" th:field="*{userName}" placeholder="nazwa uzytkownika (*)" class="form-control" />
					</div>
					<div th:if="${#fields.hasErrors('userName')}"
						 style="margin-bottom: 20px" class="text-danger">
						<ul>
							<li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
						</ul>
					</div>

					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" th:field="*{password}" placeholder="hasło (*)" class="form-control" th:errorclass="fieldError" />
					</div>
					<div th:if="${#fields.hasErrors('password')}"
						 style="margin-bottom: 20px" class="text-danger">
						<ul>
							<li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
						</ul>
					</div>

					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" th:field="*{matchingPassword}" placeholder="potwierdź hasło (*)" class="form-control" th:errorclass="fieldError" />
					</div>
					<div th:if="${#fields.hasErrors('matchingPassword')}"
						 style="margin-bottom: 20px" class="text-danger">
						<ul>
							<li th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}" />
						</ul>
					</div>

					<div style="margin-top: 10px" class="form-group">
						<div class="col-sm-6 controls">
							<button type="submit" class="btn btn-default">Zapisz</button>
						</div>
					</div>
				</form>

			</div>

		</div>

	</div>

</div>

</body>

</html>