<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Projekty</title>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
<div th:if="${deleteError}">
    <script type="text/javascript">
        alert("Nie można usunąć projektu. Istnieją powiązane elementy podrzędne (zlecenia).");
    </script>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" href="../">Strona główna</a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Logistyk', 'ROLE_Manager', 'ROLE_Magazynier')" >
                    <a class="nav-link" href="../orders/list">
                        Zlecenia
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Logistyk', 'ROLE_Manager', 'ROLE_Magazynier')" >
                    <a class="nav-link" href="../projects/list">
                        Projekty
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Logistyk', 'ROLE_Magazynier')" >
                    <a class="nav-link" href="../elements/list">
                        Komponenty
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Logistyk', 'ROLE_Magazynier')" >
                    <a class="nav-link" href="../pcb/list">
                        PCB
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Logistyk', 'ROLE_Manager')" >
                    <a class="nav-link" href="../customers/list">
                        Klienci
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Administrator')" >
                    <a class="nav-link" href="../register/list">
                        Użytkownicy
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register/updatePassword(userId='0')}">
                        Edytuj dane logowania
                    </a>
                </li>

                <li class="nav-item">
                    <form name="logout" th:action="@{/logout}" method="POST">
                        <input class="btn btn-dark" type="submit" value="Wyloguj"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="customContainer">
    <h3>Lista projektów</h3>

    <div id="buttons" >
        <form th:action="@{/projects/search}" class="form-inline">
            <a th:href="@{/projects/addProject}"
               class="btn btn-dark"
               sec:authorize="hasAnyRole('ROLE_Logistyk')">
                Dodaj Projekt
            </a>

            <input class="form-control ml-5 mr-sm-2" type="search" name="name" placeholder="Wpisz nazwę projektu" />

            <button class="btn btn-dark" type="submit">Szukaj</button>
        </form>
    </div>

    <table class="table">

        <thead class="thead-dark">
        <tr>

            <th>Nazwa</th>
            <th>Uwagi</th>
            <th>Uwagi SMT</th>
            <th>Uwagi THT</th>
            <th>Dokumentacja</th>
            <th>Producent PCB</th>
            <th>Akcja</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${projects}">

            <td th:text="${temp.name}" />
            <td th:text="${temp.comments}" />
            <td th:text="${temp.smtComments}" />
            <td th:text="${temp.thtComments}" />

            <td>
                <span th:if="${temp.docPath == null}">BRAK</span>
                <span th:unless="${temp.docPath == null}"><a th:href="@{'/projects/downloadFile/'+${temp.id}}">Pobierz</a></span>
            </td>

            <td>
                <span th:if="${temp.pcb == null}">BRAK</span>
                <span th:unless="${temp.pcb == null}" th:text="${temp.pcb.producer}"></span>
            </td>

            <td>
                <a th:href="@{/projects/updateProject(projectId=${temp.id})}"
                   type="button" class="btn btn-dark">
                    Aktualizuj
                </a>

                <a th:href="@{/projects/addFile(projectId=${temp.id})}"
                   type="button" class="btn btn-dark"
                   sec:authorize="hasAnyRole('ROLE_Logistyk')">
                    Dodaj dokumentację
                </a>

                <a th:href="@{/projects/deleteProject(projectId=${temp.id})}"
                   type="button" class="btn btn-danger"
                   sec:authorize="hasAnyRole('ROLE_Logistyk')"
                   onclick="if (!(confirm('Czy na pewno chcesz usunąć ten projekt?'))) return false">
                    Usuń
                </a>
            </td>

        </tr>
        </tbody>

    </table>
</div>

</body>
</html>